
.keyboard {
  // justify-content: space-between;
  // align-items: center;
  max-width: 820px;
  margin: 0 auto;
  padding: 0;
  list-style: none;

  &--row {
    display: flex;
    justify-content: space-between;
  }

  &--item{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 5vmin;
    min-height: 5vmin;
    margin-top: 5px;
    padding: 5px;
    color: #ffffff;
    background: #1c232e;
    border-radius: 5px;
    text-align: center;
    user-select: none;

    @media screen and (max-width: 780px) {
      min-width: 4.5vmin;
      min-height: 4.5vmin;
    }

    @media screen and (max-width: 650px) {
      min-width: 4vmin;
      min-height: 4vmin;
    }

    @media screen and (max-width: 500px) {
      min-width: 3.5vmin;
      min-height: 3.5vmin;
    }

    @media screen and (max-width: 500px) {
      min-width: 3vmin;
      min-height: 3vmin;
      & [data-keycode="Backspace"] {
        content: '&#8592;';
      }
    }

    .keyboard--row:first-child &:last-child {
      width: 13vmin;
    }

    .keyboard--row:nth-child(2) &:first-child,
    .keyboard--row:nth-child(2) &:last-child {
      width: 9vmin;
    }

    .keyboard--row:nth-child(3) &:first-child,
    .keyboard--row:nth-child(3) &:last-child {
      width: 12vmin;
    }

    .keyboard--row:nth-child(4) &:first-child {
      width: 15vmin;
    }

    .keyboard--row:last-child &:nth-child(3) {
      width: 50vmin;
    }
  }
}

.active {
  color: red;
  box-shadow: 0 0 5px 1px red;
  transition-delay: 0.05s;
}
